.posts{
    margin-top: 50px;
    width: 100vw;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    place-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.posts div{
    background-color: #3474eb;
   width: 100%;
   padding: 10px 0;
}
.posts div div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.posts div p::before{
    content: "~~";
}
.posts div p::after{
    content: "~~";
}
.link{
    color:white;
    text-decoration: none;
    background-color: black;
    padding: 2px;
}
button{
    border: none;
    background-color: #03286e;
    color: #fff;
    padding: 5px;
}